anthropic
chainlit
python-dotenv
mypy

# simplified graph db
kuzu
 
# Observability Stack
arize-phoenix
arize-otel
openinference-instrumentation-anthropic
opentelemetry-sdk
opentelemetry-exporter-otlp 